<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <h1 class="text-center p-4">BookStore</h1>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    {% block sidebar %}
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url("homepage") }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url("books:index") }}">Livres</a>
                        </li>
                    </ul>
                    {% endblock %}
                </div>
                <div class="col-9">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}
        
        <footer>
            <div class="container">
                {{ copyright() }}
                <hr>
                <copyright>
            </div>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
